<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h2>Ethan Schmertzler</h2>
<div class="container">
  <%= yield %>
</div>
</body>
</html>