<a href="/contact"><img src="http://photos1.meetupstatic.com/photos/member/d/3/5/6/member_159654102.jpeg"></a>
<ul>
  <li><h4>Hobbies:</h4></li>
  <li>Skiing</li>
  <li>Homebrewing</li>
  <li>Photography</li>
</ul>