body {
  background-color: rgba(21,20,27,1.0);
  color: rgba(75,75,87,1.0);
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(21,20,27,1.0);
  color: rgba(255,255,255,1.0);
}

.section {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1) inset;
  background-color: rgb(70, 67, 104);
}